body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('icons/bglight.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    border-radius: 20px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: aquamarine;
    border: none;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: green;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-decoration: underline;
    margin-left: 5px;
}

.link-button:hover {
    color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
}
.bgshopping {
    width: 400px;
}